BASE_URL=http://localhost:3000

DATABASE_URL="postgresql://username:password@host:5432/database_name?schema=public"

# ---------------------
# 
# AUTHENTICATION
# 
# ---------------------
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# ---------------------
# 
# STRIPE
# 
# ---------------------
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_
STRIPE_SECRET_KEY=sk_
STRIPE_WEBHOOK_SIGNING_SECRET=whsec_
BASIC_MONTHLY_PRICE_ID=price_
BASIC_YEARLY_PRICE_ID=price_
PREMIUM_MONTHLY_PRICE_ID=price_
PREMIUM_YEARLY_PRICE_ID=price_

# ---------------------
# 
# MAILER
# 
# ---------------------
PLUNK_SECRET_KEY=sk_
RESEND_API_KEY=re_