PAYLOAD_PRIVATE_DATABASE_URI="postgresql://username:password@host:5432/database_name?schema=public"

PAYLOAD_PRIVATE_SECRET=

# S3 BUCKET
PAYLOAD_S3_REGION=
PAYLOAD_S3_ACCESS_KEY_ID=
PAYLOAD_S3_BUCKET=
PAYLOAD_S3_SECRET_ACCESS_KEY=

# URL OF THE MAIN APP
NEXT_PUBLIC_APP_URL=http://localhost:3000